openapi: 3.2.0
info:
  title: AlgoVoi Agent Trust Bench Meta API
  description: Public x402 research endpoints — 187 adversarial and benign payment profiles across 42 threat categories. Free to use, no account required. Machine-readable resource catalog at /discovery/resources.
  version: 0.1.0
  contact:
    email: research@algovoi.co.uk
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-discovery-url: https://agent-trust-bench.algovoi.co.uk/discovery/resources
  x-well-known-url: https://agent-trust-bench.algovoi.co.uk/.well-known/x402.json
  x-stats-url: https://agent-trust-bench.algovoi.co.uk/stats.json
  x-stats-html-url: https://agent-trust-bench.algovoi.co.uk/stats
servers:
- url: https://agent-trust-bench.algovoi.co.uk
  description: Production
tags:
- name: Meta
  description: Service metadata and health
paths:
  /stats.json:
    get:
      operationId: get_stats
      summary: Aggregate bench statistics (JSON)
      description: 'Returns global counts: total challenges issued, payments claimed, payments verified, and per-profile breakdowns. The HTML dashboard for the same data lives at /stats.'
      responses:
        '200':
          description: Stats
          content:
            application/json:
              schema:
                type: object
      tags:
      - Meta
  /openapi.json:
    get:
      operationId: openapi_schema
      summary: This OpenAPI schema
      responses:
        '200':
          description: OpenAPI 3.1.0 schema
          content:
            application/json:
              schema:
                type: object
      tags:
      - Meta
  /health:
    get:
      operationId: health
      summary: Health check
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  service:
                    type: string
      tags:
      - Meta
